@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.header{
    background-image: url(../../public/archi.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.navbar {
    background-color: #b1d6edec;
}
.navbar ul {
   justify-content: end;
}

.header h1 {
    font-weight:600;
    font-size: 70px;
    color: rgb(255, 255, 255);
    padding: 40px;
}

.formulaireTitre {
    font-weight:500;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.header h2 {
    font-weight:400;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 40px;
    text-transform: uppercase;
}
.card-title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 1.6rem;
}
.card-text{
    font-family: 'Poppins';
    font-size:14px;
}

.populartitre {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 1rem;
}

.formulaire{
    background-color: #b1d6edc7;
    border-radius: 5px;
}

.formulaireAjout{
      background-image: url(../../public/archi.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.footer{
    background-color: #b1d6edec;
}

@media screen and (max-width: 650px) {
    .header h1 {
        font-size: 40px;
    }

    .formulaireTitre {
        font-size: 40px;
    }
}